:root { 
    --purple: #98AF1A; 
    --purplePlus: #DCF166; 
    --aqua-blue: #82D4C4; 
    --white: #fff; 
    --dark: #232323; 
    --main-box-shadow: 0 2px 10px 0 rgba(160, 160, 160, 0.2); 
    // --background-hover: #8383831c; 
    --background-hover: #99af1a3f; 
    --background-base: #151516; 
    // --all-background-base: #ecfdf5;
    --all-background-base: #ECF2F9;
    --main-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
} 
 
.purple-color { color: var(--purple) !important };
.purple-background-color { background-color: var(--purple) !important };
.white-color { color: var(--white) !important; };
.aqua-purple-color { color: var(--aqua-blue) !important };
.aqua-blue-background-color { background-color: var(--aqua-blue) !important };
 
.white-color { color: var(--white) !important; };
.white-background-color { background-color: var(--white); };

.dark-color { color: var(--dark); }
.dark-background-color { background-color: var(--dark); };

.main-box-shadow { box-shadow: var(--main-box-shadow) }; 