* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    
    p, a, li, button {
        font-size: calc(8px + (22 - 16) * (100vw - 320px) / (1280 - 320)); 
    }

    h5 {
        font-size: calc(12px + (22 - 16) * (100vw - 320px) / (1280 - 320));
    }

    h4 {
        font-size: calc(16px + (22 - 16) * (100vw - 320px) / (1280 - 320));
    }

    h3 {
        font-size: calc(20px + (22 - 16) * (100vw - 320px) / (1280 - 320));
    }

    h2 {
        font-size: calc(24px + (22 - 16) * (100vw - 320px) / (1280 - 320));
    }

    h1 {
        font-size: calc(28px + (22 - 16) * (100vw - 320px) / (1280 - 320));
    } 
}