::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px !important;
  background: #f7f8fa;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background: var(--purple);
}

* { 
  scrollbar-width: thin;
  scrollbar-color: var(--purple) transparent;
} 

 